/*{
    box-sizing: border-box;
}*/
/* Set additional styling options for the columns */
.column {
    float: left;
    padding: 0px;
    height: 620px;
}

/* Set width length for the left, right and middle columns */
.left {
    padding: 20px;
}

.center {
    width: 300px;
}

.right {
    padding: 0 20px;
    width: 150px;
}

.options {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#hold-canvas {
    width: 150px;
    height: 150px;
    border: 2px solid whitesmoke;
}

.canvas-container {
    display: inline;
    position: relative;
}

.board {
    width: 300px;
    height: 600px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    position: absolute;
}

.grid {
    z-index: 0;
}

.main {
    z-index: 1;
}

#lock-progress {
    width: 300px;
    height: 10px;
    background-color: black;
    display: inline;
}

#queue-canvas {
    width: 150px;
    height: 600px;
    border: 2px solid whitesmoke;
}

@font-face {
    font-family: retro_computer;
    src: url(/assets/fonts/retro_computer.ttf);
}

label#pieces, label#lines {
    font-family: retro_computer;
    display: block;
    font-size: large; 
    color: white;
}

.material-icons {
    color: white;
}

#options-button {
    font-size: 70px;
}

.sidenav {
    float: left;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    transition: 0.5s;
}